.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
  width: 400px;
  height: 400px;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
  background-color: #bbada0;
}