body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* board variables */
  --cols: 4;
  --rows: 4;
  --tile-size: 25%;
  --border-width: 5px;

  /* block colors */
  --0: #ccc0b4;
  --2: #f0e3da;
  --4: #ece0ca;
  --8: #f2b179;
  --16: #ec8d53;
  --32: #f57c5f;
  --64: #e95839;
  --128: #f4d86d;
  --256: #f4d86d;
  --512: #f4d86d;
  --1024: #f4d86d;
  --2048: #f4d86d;
}